// @fileOverview ./__components__.scss

@mixin __component__ ($operation) {

  [capabillity="#{$operation}"] {
    @content;
  }

  $buttons: (
    role: (
      (
        outline: 1px solid gold,
      )
    ),
    rel: (
      (
        background: limegreen,
        color: #fff,
      )
    ),
    #{$operation}: (
      (
        color: red,
      )
    ),
  );

  @each $btn, $bg in $buttons {
    [#{$btn}] {
      @each $prop, $item in $bg {
        #{$prop}: $item;
      }
    }
  }
}


