// @fileOverview ./__declarations__.scss

@import "__components__";

$operation: 'cancel';

$fieldInput: (
  role: (
    (
      outline: 1px solid gold,
    )
  ),
  rel: (
    (
      background: limegreen,
      color: #fff,
    )
  ),
  #{$operation}: (
    (
      color: red,
    )
  ),
);

$elemental: (
  member: (
    width: 33%,
  ),
);

$defaultActionBg: #777;

@mixin If ($type: "div") {
  #{$type} {
    @include __component__(
      $operation : $operation,
      $buttons   : $fieldInput
    ) {
      background: $defaultActionBg;
    }
  }
}

@mixin Once ($event: "anchor") {
  &:hover {  }
  &:active {  }
  &:focus {  }
}

@mixin Spread($event: "columns") {
  & {
    display: flex;
  }

  @each $prop, $val in $elemental {
    @each $p, $v in $val {
       #{$prop}: $v;
    }
  }
}

@mixin Typemixer() {
  & + p {
    @content;
  }
}
