// @fileOverview ./__interface__.scss

@import "system";
@import "__components__";
@import "__declarations__";
@import "__responses__";
@import "__templates__";

/*//////////////////////////////////////
@cssdoc layout
@description
Layout.
//////////////////////////////////////*/

:root {
  @extend %banner;
}

.__module__ {
  @include If($type: "form");
}

.__module__ {
  @include Once($event: "anchor");
}

.__module__ {
  @include Spread($event: "__column__") {
    text-align: right;
  }
}

.__grid__ {
  @include Class($bem: "sidebar--deck__item", $args: null) {
    align-self: stretch;
  }
}

.__display__ {
  @include With($layer: $templateBase) {
    background: #121212;
    @include With($layer: $templateOverride) {
      background: yellow;
    }
  };
}

.__before__ {
  @include Responses((
    banner--sm,
    banner--md,
  )) {
    background: blue;
    color: pink;
  };
}

.__after__ {
  @include Responses((
    banner--md,
  )) {
    background: red;
  };
}

.__model__ {
  header {
    @include Responses((
      banner--print,
    )) {
      background: green;
    };
  }
}


/*//////////////////////////////////////
@cssdoc @include
@name button
@description
Set up button.
//////////////////////////////////////*/

@include Rules('button', (
  "[role='button']" : (
    background   : #fff,
    color        : #111,
    padding      : 0.5em 1em,
    border-width : 1px,
  ),
  "[aria-pressed]" : (
    color : coral,
  ),
)) {
  text-decoration: underline;
};

