// @fileOverview ./__interface__.scss  
// @description  
// Module-level interplay goes here, or meta-CSS type junk like:  
// 1. `modules`  
// 2. `grids`  
// 3. `displays`  
// 4. `hooks` (`before`, `after` order serializations)  
// 5. `models`  
// Generally the design ontology should be implemented within an __internal__:  
// 1. `Ifs`  
// 2. `Onces`  
// 3. `Spreads`  
// 4. `Classes`  
// 5. `Withs`  
// 6. `Responses`  
// 7. `Rules`  
// 8. `Wraps`  


@import "__templates__";
@import "__system__";
@import "__components__";
@import "__declarations__";
@import "__responses__";


// @cssdoc command  
// @description  
// @usage  
//   $ do(__module__)

@mixin Do ($gram) {
  .__#{$gram}__ {
    @content;
  }
}


// @cssdoc layout  
// @description  
// Layout. DOUAWTF.

:root {
  @extend %banner;
  //@extend %aside;
}


// @cssdoc examples  
// @description  
// Ragtag examples.

.__module__ {
  @include If($type: "form") {
    @include Then($type: "modal");
  };
}

// Or:

@include Do('module') {
  @include If($type: "form") {
    @include Then($type: "modal");
  };
}

.__module__ {
  a { @include Once(
    $model: "anchor",
    $collection: $onceExample
  ) }
}

// Or:

@include Do('module') {
  a { @include Once(
    $model: "anchor",
    $collection: $onceExample
  ) }
}

.__module__ {
  @include Spread($event: "__column__") {
    text-align: right;
  }
}

.__grid__ {
  @include Class(
    $bem: "sidebar--deck__item",
    $args: (
      block: (
        margin: 10px,
      ),
      element: (
        padding: 10px,
      ),
      modifier: (
        border-top: 1px solid gold,
      ),
    )
  ) {
    align-self: stretch;
  }
}

.__display__ {
  @include With($layer: $templateBase) {
    background: #121212;
    @include With($layer: $templateOverride) {
      background: yellow;
    }
  };
}

.__before__ {
  @include Responses((
    banner--sm,
    banner--md,
  )) {
    background: blue;
    color: pink;
  };
}

.__after__ {
  @include Responses((
    banner--md,
  )) {
    background: red;
  };
}

.__model__ {
  header {
    @include Responses((
      banner--print,
    )) {
      background: green;
    };
  }
}


// @cssdoc include  
// @name a  
// @description  
// Set up an anchor (This is an implementation example.)

a { @include Wrap($anchorRulesBefore, $anchorRulesAfter, $mirrorContent: "."); }


// @cssdoc include  
// @name button  
// @description  
// Set up a button. (This is an implementation example.)

@include Rules('button', (
  "[role='button']" : (
    background   : #fff,
    color        : #111,
    padding      : 0.5em 1em,
    border-width : 1px,
  ),
  "[aria-pressed]" : (
    color : coral,
  ),
)) {
  text-decoration: underline;
};

