// @fileOverview ./__templates__.scss  
// @description
// ACID Templates.
// 1. Anchored    (Atomic)
// 2. Composable  (Consistent+Cascaded)
// 3. Independent (Isolated)
// 4. Defined     (Durably Scoped)

$templateBase: (
  display: inline,
);

$templateOverride: (
  display: flex,
  justify-content: flex-end,
);

$onceExample: (
  hover:  {
    color: skyblue;
  },
  active: {
    color: purple;
  },
  focus:  {
    color: teal;
  },
)
