// @fileOverview ./src/functions/index.scss  
// @description  
// Functions and recursion jokes. No polymorphisms allowed.

$maxCol: 4;


// @cssdoc  function  
// @name extendWidth  
// @description  
// Calculate a width along an ~O(n).  
// = ((max / pos) % col)[ * N]
// @usage  
// $ 0px + extendWidth($maxWidth: 1280px, $position: 4, $maxCol)

@function extendWidth ($maxCol: $maxCol, $maxWidth: 100%, $position: 0) {
  $_maxWidth: ($maxWidth / $position);
  @if $_maxWidth % $maxCol != 0 {
    @return $_maxWidth;
  }
}

// @cssdoc function
// @name _
// @description
// Accept lists of named custom classes.
// @param $terms {...} ...

@function _ ($terms...) {
  $proplist: ();
  $c: 1;
  @each $i, $k in $terms {
    $proplist: map-merge($proplist, ("_#{$i}#{$c}": $k));
    $c: $c+1;
  }
  @return $proplist;
}
