// @fileOverview ./__templates__.scss  
// @description
// ACID Templates.
// 1. Anchored    (Atomic)
// 2. Composable  (Consistent+Cascaded)
// 3. Independent (Isolated)
// 4. Defined     (Durably Scoped)

@import "./functions/index";

$templateBase: (
  display: inline,
  width: extendWidth(),
);

$templateOverride: (
  display: flex,
  justify-content: flex-end,
);

$onceExample: (
  hover:  (
    color: skyblue,
  ),
  active: (
    color: purple,
  ),
  focus:  (
    color: teal,
  ),
);

$tachyonsOnceExample: (
  __typeplate__: (
    _extend1: f6,
    _extend2: grow,
    _extend3: no-underline,
    _extend4: br-pill,
    _extend6: ph3,
    _extend7: pv2,
    _extend8: mb2,
    _extend9: dib,
    _extend10: white,
    _extend11: bg-black,
    _extend12: hint--bottom,
  ),
);

// @TODO Color palettes.
$defaultActionBg: #777;


// @TODO Operation spaces.
$operation: 'cancel';
$operationModal: 'modal';


// @bemClass .field--input  
// @description  
// 1. role
// 2. rel
// 3. `operation`

$fieldInput: (
  role: (
    (
      outline: 1px solid gold,
    )
  ),
  rel: (
    (
      background: limegreen,
      color: #fff,
    )
  ),
  #{$operation}: (
    (
      color: red,
    )
  ),
);


// @bemClass .panel (implied)  
// @description  
// Triple column stage.

$panel: (
  member: (
    width: 33%,
  ),
);


$anchorRulesAfter: (
  background: beige,
);

$anchorRulesBefore: (
  background: #888,
);
